<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Challing</title>
  </head>
  <body>
    <h1>Home#top</h1>
    <p>Find me in app/views/home/top.html.erb</p>
    <hr>

  </body>
</html>
