<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CHALLING</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <a href="/"><%= image_tag("CHALLINGLogos.png", :class => "header-logo") %></a>
      </div>
      <div class="mypage">
        <%= image_tag("staff.png", :class => "mypage-icon") %>
      </div>
    </header>

    <!-- 貯金額の表示・入力 -->
    <div class="savings-wrap">
        <p class="title" id="now-title">現在の貯金</p>
        <p class="value" id="now-value">12,345 yen</p>
        <p class="title" id="goal-title">目標金額</p>
        <p class="value" id="goal-value">200,000 yen</p>
        <form>
            <input type="text" name="saving" placeholder="数字を入力" class="textbox" />
        </form>
    </div>

    <!-- フッター -->
    <footer>
        <%= image_tag("neko.png") %>
    </footer>
  </body>
</html>
