<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CHALLING</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <a href="/"><%= image_tag("CHALLINGLogo.png", :class => "header-logo") %></a>
      </div>
      <div class="share">

      </div>
      <div class="setting">

      </div>
    </header>

    <!-- 貯金額の表示・入力 -->
    <div class="saving-wrap">
        <p class="title">現在の貯金</p>
        <div class="flex-wrap">
            <div class="value">
                <p>0 yen</p>
            </div>
            <div class="button"></div>
            <div class="value">
                <form>
                    <input type="text" name="saving" placeholder="数字を入力" class="textbox" id="amount"/>
                </form>
            </div>
            <div class="button" id="plus">
                <%= image_tag("Add.png") %>
            </div>
        </div>
    </div>

    <!-- フッター -->
    <footer>
        <%= image_tag("neko.png") %>
    </footer>
  </body>
</html>
