/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title-logo img{
    height: 50px;
    margin-left: 20px;
}

body{
    background: linear-gradient(#5BBDAA, #708FB9 30%, #7389BB);
}

.saving-wrap{
    text-align: center;
    color: #fff;
    font-family: Hiragino Sans;
    margin: 0 auto;
    width: 550px;
    margin-top: 20px;
}
.saving-wrap p{
    margin: 0;
    text-align: left;
}
.saving-wrap p.title{
    font-size: 24px;
    font-weight: 200;
}
.saving-wrap .flex-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.saving-wrap .flex-wrap .value{
    width: 85%;
    position: relative;
    text-align: right;
}
.saving-wrap .flex-wrap .value p{
    text-align: right;
    width: 100%;
    font-weight: 200;
    font-size: 84px;
    margin: 0;
    line-height: 1.0;
    margin-bottom: 20px;
}
.saving-wrap .flex-wrap .button{
    width: 5%;
    margin-left: 5%;
}

.saving-wrap .textbox{
    width: 400px;
    height: 50px;
    color: #fff;
	padding: 3px 20px;
	border-radius: 6px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: transparent;
	font-size: 20px;
}
.saving-wrap img{
    height: 50px;
}

/* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
:placeholder-shown {
    color: #D8D3CD; }

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
    color: #D8D3CD; }
footer img{
    position: relative;
    width: 50vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
}