// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* トップページ */
.title-logo{
    position: relative;
    height: 200px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.button-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.button-wrap .button, .button-wrap .buttonText{
    width: 40%;
}

.button-wrap .button, .signup .button, .signin .button{
    padding: 15px 0%;
    border-radius: 2px;
    font-size: 20px;
    font-family: 'Arial Hebrew';
    cursor: pointer;
}

.button-wrap .button{
    transition: .4s;
}

.button-wrap .button:hover{
    opacity: 0.8;
}

.button-wrap #buttonL{
    background-color: #18316E;
    color: #fff;
    margin-right: 5%;
}

.button-wrap #buttonR{
    display: none;
    background-color: #fff;
    color: #7389BB;
    margin-left: 5%;
}

.button-wrap .buttonText{
    display: none;
    color: #fff;
    font-family: Hiragino Sans;
    font-weight: 100;
    margin-top: 10px;
}

.button-wrap #buttonTextL{
    margin-right: 5%;
}

.button-wrap #buttonTextR{
    margin-left: 5%;
}

/* Sign Up, Sign In */

.signup, .signin{
    display: none;  /* 最初は非表示 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(244, 239, 239, 0.9);
    text-align: center;
    padding: 3% 10%;
    border-radius: 5px;
    z-index: 2; /* 最前面に表示 */
}

.signup .signuptext, .signin .signintext{
    text-align: center;
    color: #7389BB;
}

.signup .textbox, .signin .textbox{
    margin-bottom: 8%;
    padding: 3%;
    width: 80%;
}

.signup .button, .signin .button{
    background-color: #18316E;
    color: #fff;
    width: 80%;
    margin: 10% auto;
    cursor: pointer;
    transition: .4s;
}

.signup .button a, .signin .button a{
    color: #fff;
    text-decoration: none;
}

.signup .button:hover, .signin .button:hover{
    opacity: 0.8;
}

/* グレーアウト */
#overlay{
    z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(133, 136, 132, 0.5);
    cursor: pointer;
}
